<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="partials :: head" />

<body>
<header th:replace="partials :: header" />
<nav th:replace="partials :: navbar" />
<div>
	<div>
		Written by: <span th:text="${email}"></span>
	</div>
	<p th:text="${post.title}"></p>
	<p th:text="${post.body}"></p>
	<a th:href="@{'/posts/' + ${post.id}} + '/edit'"><p>Edit Post</p></a>
	<form th:action="'/posts/' + ${post.id} + '/delete'" method="post" th:object="${post}">
		<button type="submit" name="button">Delete</button>
	</form>
</div>
<footer th:replace="partials :: footer" />
</body>
</html>
