<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pick a Number</title>
	<style>
		h1 {
			background-color: blue;
			color: navajowhite;
			display: inline;
			padding: 10px;
			border-radius: 4px;
		}
		li {
			list-style: none;
			height: 50px;
			width: 50px;
			background-color: crimson;
			margin: 10px;
			text-align: center;
			vertical-align: middle;
			display: inline-block;
		}
		a {
			color: black;
		}
	</style>
</head>
<body>
	<h1>Click on a dice to try your luck!</h1>
	<div>
		<ul>
			<li class="numbers"><a href="/roll-dice/1">1</a></li>
			<li class="numbers"><a href="/roll-dice/2">2</a></li>
			<li class="numbers"><a href="/roll-dice/3">3</a></li>
			<li class="numbers"><a href="/roll-dice/4">4</a></li>
			<li class="numbers"><a href="/roll-dice/5">5</a></li>
			<li class="numbers"><a href="/roll-dice/6">6</a></li>
		</ul>
	</div>
</body>
</html>
