<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<body>
<nav th:replace="partials :: navbar" />
	<h1 id="diceHeader">Click on a dice to try your luck!</h1>
	<div>
		<ul>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/1">1</a></li>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/2">2</a></li>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/3">3</a></li>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/4">4</a></li>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/5">5</a></li>
			<li class="numbers"><a class="diceLinks" href="/roll-dice/6">6</a></li>
		</ul>
	</div>
	<footer th:replace="partials :: footer" />
</body>
</html>
