<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text="${pageTitle}"></title>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}" />
	<!-- include stylesheets, etc here -->
</head>
<body>
	<header th:fragment="header">
		<div class="container" >
			<h1> <span th:text="${headerContent}"></span></h1>
		</div>
	</header>
	<nav th:fragment="navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/roll-dice/">Dice Game</a></li>
		</ul>
		<!-- awesome navbar goes here -->
	</nav>
	<footer th:fragment="footer">
		<p>Codeup Spring Blog Demo</p>
	</footer>
</body>
</html>
